<a href="{{href}}" class="profilebtn {{stateClass}}">
  <div class="mainicon">
    <i class="icon-3x icon-{{icon}}"></i>
  </div>
  <div class="profilebtn-title">{{title}}</div>
  {{# if ribbon }}
    <div class="ribbon">{{ribbon}}</div>
  {{/if}}
  {{# if progress }}
    <div class="progressbar">
      <div class="fill"></div>
    </div>
  {{/if}}
</a>