<hr xmlns="http://www.w3.org/1999/html">

<div class="row">

  if phone
    <div class="col col-3 alignc">
      <a href="tel:{{phone}}">
        <i class="icon-phone-sign icon-align-center icon-2x"></i>
      </a>
    </div>
    <div class="col col-3 alignc">
      <a href="sms:{{phone}}?body=TEST">
        <i class="icon-mobile-phone icon-align-center icon-2x"></i>
      </a>
    </div>
  if email
    <div class="col.col-3.alignc">
      <a href="mailto:{{email}}">
        <i class="icon-envelope icon-2x"></i>
      </a>
    </div>
  <div class="col.col-3.alignc">
    <i class="icon-facebook-sign icon-2x"></i>
  </div>
</div>

<hr>

<div class="add-journal.row">
  <div class="col col-12">
    <textarea id="add-journal-textarea" placeholder="Tap to add a journal entry" rows="3" class="journal-notifications pull-left"></textarea>
  </div>
</div>
<div class="add-journal-ctrls.row">
  <div class="col col-12">
    <div class="pull-right">
      <button id="add-journal-btn" class="btn btn-primary btn-medium">Add<i class="icon-plus-sign"></i></button>
    </div>
    <div class="pull-right" style="padding-right: 12px; line-height: 30px">at
      <a href="#" id="journaldate" data-value="{{currentTime "MM/DD/YY HH:mm"}}"></a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-12">
    <a class="btn btn-default btn-large btn-block" href="#mentees/{{id}}/journal">View journal</a>
  </div>
</div>